body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.invoice {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-primary {
    color: #007bff;
}

.text-end {
    text-align: end;
}

.image_invoice{
    width: 65%;
    height: 85%;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

@media screen and (max-width: 2652px) and (min-width: 771px){
    .logo_text_2{
        display: none;
    }
}

@media screen and (max-width: 770px) and (min-width: 230px){
    .logo_text{
        display: none;
    }

    .logo_image{
        width: 45% !important;
    }

    .data_text{
        width: 50% !important;
    }

    .logo_text_2{
        display: block;
        border-top: 2px solid;
    }
}
